# Default ignored files
/../../../../../../D899~1/AppData/Local/Temp/testdemo.py3790765370841205347/.idea/shelf/
/../../../../../../D899~1/AppData/Local/Temp/testdemo.py3790765370841205347/.idea/workspace.xml
